*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color :white;
    --item-border-color :rgba(183, 182, 182, 0.768);
    --container-border-color :red;
    --item-hover-background-color :black
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(black,gray);
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    background-color:var(--primary-color);
    border: 10px solid var(--container-border-color);
}

.gridItem{
    flex: 1 0 calc((95% / 16));
    height: 0;
    padding-bottom: calc((95% / 16));
    transition: background-color 0.3s ease;
    /*border: 1px solid var(--item-border-color);*/
}

.gridItem:hover{
    background-color:var(--item-hover-background-color);
}